/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html, body {
  height: 100%;
  background-color: #54BBCB;
  padding-top: 30px;
}

.navbar {
  background-color: rgb(183, 255, 226) !important;
}

.table-container {
  margin: 100px auto;
  width: 80% !important;
}

table tbody tr:last-child{
  border-bottom-style: hidden;
}

table.dataTable {
  border-collapse: collapse !important;
}

table {
  margin-top: 15px !important;
  background-color: #96e9ff;
  overflow: hidden;
  tbody tr {
    border-color: #212529;
    :hover {
      cursor: pointer;
    }
  }
  thead tr {
    background-color: #00b7ff;
    border-color: black;
    border-bottom: 2px solid !important;
  }
}

table#projects-table,
table#templates-table {
  margin-top: 15px !important;
}

.rounded-custom {
  border-radius: 0.35rem !important;
}

.button-div {
  width: 90% !important;
}
